# https://github.com/helm/charts/tree/master/stable/jenkins
master:
  numExecutors: 4
  # serviceType: NodePort  
  # nodePort: 30001
  serviceType: ClusterIP 
  installPlugins:
    - kubernetes:1.15.3
    - workflow-job:2.32
    - workflow-aggregator:2.6
    - credentials-binding:1.18
    - git:3.10.0
    - blueocean:1.16.0
    - slack:2.23
    - github:1.29.4 
    - docker-workflow:1.18
  JCasC:
    enabled: true
    configScripts:
      unclassified-stuff: |
        unclassified:
          slackNotifier:
            baseUrl: <URL_HERE>
            botUser: false
            teamDomain: <DOMAIN_HERE>
# https://github.com/helm/charts/issues/7002
agent: 
  alwaysPullImage: true
  privileged: true
  volumes:    # https://stackoverflow.com/questions/51681713/jenkins-helm-docker-not-found-when-try-to-run-a-test
   - type: HostPath
     volumeName: docker-sock
     hostPath: /var/run/docker.sock
     mountPath: /var/run/docker.sock